:root {
  --matrix-green-dark: #008f11; 
  --matrix-green-light: #00ff41; 
  --matrix-bg-dark: #0a0a0a;

  --bs-success: var(--matrix-green-dark); 
  --bs-primary: var(--matrix-green-dark); 
  --bs-dark: var(--matrix-bg-dark); 
  
  --bs-light: #1a1a1a; 
}

body {
    background-color: var(--matrix-bg-dark) !important; 
    color: var(--matrix-green-light) !important; 
}

h1, h2, h3, h4, h5, h6 {
    color: var(--matrix-green-light) !important;
}

.text-danger {
    color: #ff0000 !important;
}
.bg-danger {
    background-color: #990000 !important;
    border-color: #ff0000 !important;
}

.nav-link, .navbar-brand {
    color: var(--matrix-green-light) !important;
    text-shadow: 0 0 5px var(--matrix-green-dark);
    transition: all 0.2s ease-in-out;
}
.nav-link:hover {
    color: var(--matrix-green-light) !important;
    background-color: #111111;
    border-radius: 5px;
}

.card.bg-success, .card.bg-primary {
    background-color: var(--matrix-green-dark) !important;
    border-color: var(--matrix-green-light) !important;
    box-shadow: 0 0 10px rgba(0, 255, 65, 0.5); 
}

.card-title, .card-text {
    color: var(--matrix-green-light) !important;
}

.bg-light {
    background-color: var(--bs-light) !important;
    border-color: var(--matrix-green-dark) !important;
}
.text-muted {
    color: var(--matrix-green-dark) !important;
}